<section class="how-rent">
    <div class="container-lg">
        <h2 class="how-rent__title title">
            Как арендовать самокат
        </h2>
        <div class="how-rent__inner">
            <ul class="how-rent__items">
                <li class="how-rent__item">
                    <img class="how-rent__item-img" src="images/how-rent-01.svg" alt="картинка">
                    <div class="how-rent__item-title">
                        В&nbsp;Яндекс Go&nbsp;нажмите кнопку Город
                    </div>
                </li>
                <li class="how-rent__item">
                    <img class="how-rent__item-img" src="images/how-rent-02.svg" alt="картинка">
                    <div class="how-rent__item-title">
                        Найдите на&nbsp;карте ближайшую парковку
                    </div>
                </li>
                <li class="how-rent__item">
                    <img class="how-rent__item-img" src="images/how-rent-03.svg" alt="картинка">
                    <div class="how-rent__item-title">
                        Дойдите до&nbsp;самоката и&nbsp;отсканируйте QR-код на&nbsp;руле
                    </div>
                    <svg class="how-rent__item-svg">
                        <use xlink:href="images/sprite.svg#line-item"></use>
                    </svg>
                </li>
            </ul>
            <div class="how-rent__video">
                <video src="video/promo-video-yandex-go.mp4" autoplay="" muted="" loop=""></video>
            </div>
        </div>
        <div class="how-rent__subtitle">
            Готово, едем! Аренда: от&nbsp;50&nbsp;рублей + тариф от&nbsp;6&nbsp;рублей в&nbsp;минуту
        </div>
    </div>
</section>