<section class="artskating">
    <div class="artskating__inner">
        <div class="container-lg">
            <h1 class="artskating__title title">
                <a class="artskating__title-link" href="#">
                    Искусство кататься
                </a>
            </h1>
            <h2 class="artskating__subtitle">
                <a href="#">Коллекция</a> про стиль и&nbsp;безопасность, а&nbsp;не&nbsp;скорость.
            </h2>
            <div class="artskating__info">
                Специально для Маркета и&nbsp;Яндекс Go&nbsp;московские художники создали капсульную коллекцию
                защитных шлемов и&nbsp;разработали дизайн самокатов для безопасных поездок. Каждый шлем расписан
                вручную, а&nbsp;самокаты&nbsp;&mdash; в&nbsp;авторской оклейке художников.
            </div>
        </div>
    </div>
</section>