/* -mixin */

/* -display flex */

@mixin dFlex {
	display: flex;
	align-items: center;
}

/* #display flex */

/* -@media */

$breakpoints: (
	"xx-small": (
		max-width: 409px,
	),
	"xx-small-vertical": (
		max-height: 409px,
	),
	"extra-small": (
		max-width: 539px,
	),
	"small": (
		max-width: 719px,
	),
	"medium": (
		max-width: 991px,
	),
	"large": (
		max-width: 1199px,
	),
	"x-large": (
		max-width: 1233px,
	),
	"xx-large": (
		min-width: 1714px,
	),
);

@mixin media($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		  + "Please make sure it is defined in `$breakpoints` map.";
	}
}

/* #@media */

/* -font size */

// font size 12px
@mixin fontSize12 {
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
}

// font size 15px
@mixin fontSize15 {
	font-size: 15px;
	line-height: 29px;
	font-weight: 600;
}

// font size 19px
@mixin fontSize19 {
	font-size: 19px;
	line-height: 24px;
	font-weight: 600;
}

// font size 21px
@mixin fontSize21 {
	font-size: 21px;
	line-height: 29px;
	font-weight: 600;
}

// font size 23px
@mixin fontSize23 {
	font-size: 23px;
	line-height: 28px;
	font-weight: 600;
}

// font size 31px
@mixin fontSize31 {
	font-size: 31px;
	line-height: 41px;
	font-weight: 600;
}

// font size 35px
@mixin fontSize35 {
	font-size: 35px;
	line-height: 39px;
	font-weight: 900;
}

// font size 39px
@mixin fontSize39 {
	font-size: 39px;
	line-height: 43px;
	font-weight: 900;
}

// font size 63px
@mixin fontSize63 {
	font-size: 63px;
	line-height: 69px;
	font-weight: 900;
}

/* #font size */

/* -btn */

@mixin no-btn {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

/* #btn */

/* #mixin */
