/* -vars */

/* -color */

$white: #fff;
$black: #21201f;
$grey: #fafafa;
$grey-1: #cccccc;
$grey-2: #999999;
$grey-3: #0a0a0a;
$yello: #ffde40;
$yello-1: #fee47c;
$green: #00ca50;

/* #color */

/* -border-radius */

$border-radius-6: 6px;
$border-radius-18: 18px;
$border-radius-24: 24px;
$border-radius-32: 32px;
$border-radius-56: 56px;

/* #border-radius */

/* -transition */

$transition-1: 0.04s ease-in-out;
$transition-2: 0.4s cubic-bezier(1, 0.03, 0, 0.48);
$transition-3: 0.1s ease-in-out;
/* -transition */

/* -z-index */

$z-index-minus-3: -3;
$z-index-minus-2: -2;
$z-index-minus-1: -1;
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 3;
$z-index-3: 5;
$z-index-4: 12;
$z-index-5: 50;
$z-index-6: 100;
$z-index-7: 990;
$z-index-8: 1048;

/* #z-index */

/* #vars */
