<header class="header">
    <div class="headerline">
        <div class="container">
            <div class="headerline__inner">
                <a class="logo" href="#">
                    <img class="logo__img" src="images/yandex-go-logotype.svg" alt="Самокаты — Яндекс Go">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">
                                Как арендовать самокат
                            </a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">
                                Катайтесь нежно
                            </a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">
                                Где самокаты?
                            </a>
                        </li>
                    </ul>
                </nav>
                <a class="headerline__btn btn" href="#">
                    Скачать
                </a>
            </div>
        </div>
    </div>

    <div class="header-info">
        <div class="container-lg">
            <div class="header-info__inner">
                <img class="header-info__img" src="images/header-info.png" alt="image">
                <div class="header-info__wrapper">
                    <h1 class="header-info__title">
                        Скачайте приложение, чтобы арендовать ближайший электросамокат
                    </h1>
                    <a class="header-info__btn btn" href="#">
                        Скачать приложение
                    </a>
                </div>
                <div class="header-info__subtitle">
                    Пока только в&nbsp;<a href="#">Москве</a>
                    и&nbsp;<a href="#">Краснодаре</a>
                    <svg class="header-info__subtitle-img">
                        <use xlink:href="images/sprite.svg#title-lines"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</header>