<section class="download-app">
    <div class="container-lg">
        <div class="download-app__inner">
            <h1 class="download-app__title title">
                Скачайте приложение
            </h1>
            <h2 class="download-app__subtitle">
                Введите номер и&nbsp;мы&nbsp;пришлём вам СМС со&nbsp;ссылкой на&nbsp;приложение
            </h2>
            <form class="download-app__form" action="#">
                <label class="download-app__form-label">
                    <input class="download-app__form-phone" type="tel" placeholder="7 123 XXXXXXX"
                        name="input-phone">
                    <span>+</span>
                </label>
                <input class="download-app__form-submit" type="submit" value="Отправить">
            </form>
        </div>
    </div>
</section>