<section class="where-there">
    <div class="where-there__inner">
        <div class="container-lg">
            <h1 class="where-there__title title">
                Где есть самокаты
            </h1>
            <h2 class="where-there__subtitle">
                Самокаты постепенно появляются в&nbsp;разных районах Москвы. Карта в&nbsp;приложении покажет,
                где взять самокат&nbsp;&mdash; и&nbsp;на&nbsp;какой парковке его можно оставить.
            </h2>
            <div class="where-there__map">
                <img class="where-there__map-img" src="images/map.jpg" alt="карта города">
            </div>
        </div>
    </div>
</section>